:root {
    --bg-color: white;
    --text-color: black;
      --header-bg-color: white;
      --bg-item-card: white;
      --bg-footer: white;
  }
  .dark-mode{
    --bg-color: #2f2f2f;
    --bg-footer: #494949;
    --header-bg-color: #708083;
    --text-color: white;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    --icon-color: #eddd82;
}